.restaurant-list-item-container {
  width: 300px;
  height: 300px;
  display: flex;
}

.restaurant-list-item-info {
  margin-top: auto;
  width: 100%;
  background: rgb(191, 90, 90);
  color: white;
  padding: 10px;
}

.restaurant-list-item-title {
  margin: 0;
}
